body{
    background: rgb(0, 225, 255);
    color: rgb(10, 10, 10);
    margin: 0px;
    font-family: "Itim", cursive;
}

header {
    border-bottom: solid 3px rgb(6, 5, 6);
    padding: 10px;
    font-size: 30px;
color: rgb(9, 14, 18);
}

section{

background: rgb(127, 255, 212);
color: black;
padding-bottom: 20px;
padding-top: 20px;
display: flex;
justify-content: center;
}
chamada-texto {   
    margin: 3%;
}

h1{    
    font-size: 50px;
    padding: 0px;
}

p{    
    font-size: 30px;
    margin: 0px;
}

.categoria-videos {    
display: flex;
overflow-x: auto;
gap: 5px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px
}

.categoria-videos img {
    opacity: 0,5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(0, 255, 76);
}

.categoria h2 {
    color: rgb(225, 30, 225)
}